
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:  "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  
  /* Apply linear gradient background to the body */
  background-color:  #121212;
  
  /* Ensure the gradient covers the entire viewport */
  min-height: 100vh;


  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
